window {
    background-color: #161b22;
    border: 1px solid #484f58;
    border-radius: 0;
}

label,
image {
    color: #c9d1d9;
}

progressbar trough {
    background-color: #21262d;
    border-radius: 0;
}

progressbar progress {
    background-color: #58a6ff;
    border-radius: 0;
}
